<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://e0.365dm.com/20/06/2048x1152/skysports-premier-league-restart_5015502.jpg);">
  <div class="banner-container">
    <h1>Fantasy Premier League Helper</h1>
    <p><strong>Top your league or climb the global ranks as a Top Manager.</strong></p>
    <%= link_to "Create your team!", new_team_path, class: "btn btn-success" %>
  </div>
</div>

<!-- Main Content -->
<div class="container">
  <h1>Sample h1 text....</h1>
</div>
