<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dailylivescores.com/wp-content/uploads/2020/06/skysports-premier-league-return_5000805.jpg);">
  <div class="banner-container">
    <h1>Create Your Fantasy Team</h1>
  </div>
</div>

<div class="container">
  <div class="row" id="team-selection">
    <div class="col col-8">
      <h5>Your Team</h5>
      <div class="row" id="goalkeeper">
        <%# render 'shared/modal_form' %>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Keeper</div>
      </div>
      <div class="row" id="defenders">
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Defender</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Defender</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Defender</div>
      </div>
      <div class="row" id="midfielders">
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Midfielder</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Midfielder</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Midfielder</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Midfielder</div>
      </div>
      <div class="row" id="forwards">
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Forward</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Forward</div>
        <div class="card-category col-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">Pick a Forward</div>
      </div>
    </div>
    <div class="col col-4">
      <h5>Points</h5>

    </div>
  </div>
</div>
