#team-selection {
  background: gray;
  justify-content: center;
  width: inherit;
  margin: 0;

  h5 {
    margin-top: 32px;
  }

  .row {
    justify-content: center;
    margin:32px 0;
  }

  .col {
    justify-content: center;
    text-align: center;
  }

  #player-display {
    justify-content: center;
  }
}


